.image-gallery-select {
  padding: 0 10px;
}

.image-gallery-select__image-container {
  display: inline-block;
  width: 104px;
  height: 104px;
  margin: 0 8px 8px 0;
  vertical-align: top;
}
.image-gallery-select__image-container:hover {
  cursor: pointer;
}
.image-gallery-select__list-item {
  height: 100%;
  margin: 0;
  position: relative;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
.image-gallery-select__list-item-info {
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.image-gallery-select__list-item-span {
  display: block;
  width: 100%;
  height: 100%;
}
.image-gallery-select__list-item-thumbnail {
  position: static;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  line-height: 60px;
  text-align: center;
  opacity: 0.8;
}
.image-gallery-select__list-item-thumbnail img {
  position: static;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  max-width: 100%;
  border-style: none;
}
